.container {
  padding: 2rem;
}
.details {
  height: 100vh;
}
.details .left {
  width: 40%;
}

.details .right {
  width: 60%;
  height: 95vh;
  background-size: cover;
  background-position: right bottom;
  background-image: url("./images/chief_navy.png");
}
.details {
  padding-bottom: 5rem;
}
.details h4 {
  font-family: "Perpetua Light";
  font-size: 3rem;
}
.details p {
  color: black;
  font-family: "Lato";
  font-size: 2.4rem;
  padding: 4rem 0rem;
  line-height: 1.5;
}

.details h2 {
  font-family: "Perpetua Light";
  font-size: 3rem;
  color: white;
}
